@(tenants: List[Tenant], taskFrom: Form[String])

@import helper._

@main("Todo list") {
    <h1>@tenants.size task(s)</h1>

    <ul>
    @tenants.map { tenant =>
        <li>
            @tenant.tenantDisplayName
            @form(routes.Application.deleteTenant(tenant.tenantId)){
                <input type="submit" value="Delete">
                }
        </li>
    }
    </ul>

    <h2>Add a new tenant</h2>

    @form(routes.Application.newTenant){
        @inputText(taskFrom("tenantDisplayName"))

        <input type="submit" value="Create">
    }
}

